@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #3c1852;
    background-attachment: fixed;
    min-height: 100vh;
       /*background-image: url("https://www.nastol.com.ua/download.php?img=201502/1920x1080/nastol.com.ua-129628.jpg");*/
}

/* MEnu */

.header-name{
    font-family: Work Sans, sans-serif;
    font-size: 270%;
    margin: 0px;
}



header{
    background-color: #600e8a;
    border-bottom: 1px solid black;
    margin: 0;
    background-size: cover;
    background-position: center;
}

.img-header{
    width: 90px;
    height: 90px;
    border-radius: 100px;
}


.header-menu{
    float: right;
    list-style-type: none;
    margin-top: -3%;
    margin-right: 35%;
    display: flex;
    justify-content: center;
    text-decoration: none;
}


.bg-light{
    background-color: #99408a;
}

.menu-q, .sign-q{
    display: inline-block;
}

.menu-q a{
    text-decoration: none;
    color: #fff;
    padding: 13px 25px;
    font-family: Indie Flower, sans-serif;
    transition: 0.3s ease;
}

.menu-q a:hover{
    color: #11165c;
    border-bottom: solid 2px #fff
}

.header-logo{
    float: left;

}

.sign-q a{
    text-decoration: none;
    color: #fff;
    padding: 13px 25px;
    font-family: Indie Flower, sans-serif;
    transition: 0.3s ease;
}

.sign-q{
    float: right;
    list-style-type: none;
    margin-top: -24px;
    margin-right: 2%;
    padding: 0%;
}



/* Footer */

footer{
    margin-top: 10vh;
    border-top: 2px solid #000;
}

.social{
    float: left;
    width: 50%;
}

.rights{
    float: left;
    width: 50%;
    text-align: right;
    font-size: 1.1em; 
}

.social img{
    width: 50px;
    height: 50px;
    float: left;

}


/* Logo Center */

.Neko-Family-center{
    font-family: Righteous, sans-serif;
    font-size: 500%;
    margin-right: 30%;
    margin-left: 30%;
    margin-top: 3%;
}


/*.bserver{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    vertical-align: center;
    min-height: 100vh;
    background: #031031;
}*/

.bserver{
    position: relative;
    display: inline-block;
    padding: 30px 60px;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    text-decoration: none;
    font-family: Righteous, sans-serif;
    margin-right: 41%;
    margin-left: 41%;
    margin-top: 5%;
}

.bserver{
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 1s;
}

.bserver span{
    position: absolute;
    display: block;
}

.bserver span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2196f3);
}

.bserver:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
}


.bserver span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2196f3);
}

.bserver:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}


.bserver span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2196f3);
}

.bserver:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}



.bserver span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #2196f3);
}

.bserver:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

/*  Shop  */

/* Shop */

.card{
    display: inline-block;
    position: relative;
    background: linear-gradient(235deg, #b8dbdb, #2dc4c4);
    width: 400px;
    height: 500px;
    margin-top: 100px;
    margin-left: 20px;
    align-items: center;
    box-shadow: 0 0 10px #e329bb, 0 0 40px #e329bb, 0 0 80px #e329bb;
}

.card{
    content: '';
    position: absolute;
    top: -2;
    left: -2;
    right: -2;
    bottom: -2;
    background: #fff;
    z-index: -1;
}

.card .content{
    margin-top: 40%;
    margin-left: 0%;
    font-size: 140%;
}

.card .sliderText{
    position: relative;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
    background: #d6cfab;
    background: linear-gradient(235deg, #b8dbdb, #2dc4c4);
    border: 2px solid #767e91;
    
}

.card .sliderText h3{
    color: #000;
    font-size: 3em;
    font-family: Orbitron, sans-serif;
}

.sliderText h2{
    font-size: 60px;
    margin-top: 73px;
    margin-left: 265px;
}

.sliderText h5{
    font-size: 20px;
    margin-top: -30px;
    margin-left: 360px;
}

/* Role Discord */

.role-boost{
    border: 2px solid #233fa6;
    border-radius: 3%;
    width: -3%;
    height: -2%;
}